/*initial settings*/
body{
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, p, ul {
    margin: initial;
    padding: initial;
}

h1, h2 {
    margin: initial;
    font-size: inherit;
    font-weight: inherit;
}

/*common settings*/
.frame {
    background-color: rgb(250, 140, 158);
    text-align: center;
    padding: 5px;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 0, 0.5);
}

.content {
    box-sizing: border-box;

    margin: 30px;
    padding: 20px;

    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    background-repeat: no-repeat;
    background-position: right 35px center;
}

/*wrapper*/
.wrapper {
    background-color: white;
    width: 800px;
    height: auto;
    min-height: 800px;
    margin: 40px auto 0px;
    border-radius: 20px;
    overflow: hidden;
}

/*header*/
header {
    width: auto;
    min-height: 400px;
    box-sizing: border-box;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    color: rgba(0, 0, 0, 0.822);
}

header img {
    height: 150px;
    width: 150px;
    margin-top: 60px;

    border-radius: 50%;
    border: 5px solid pink;
}

header h1 {
    font-size: 65px;
    font-weight: 900;
    margin: 5px auto;
}

header p {
    font-size: 20px;
    letter-spacing: 0.5em;
    width: fit-content;

    margin: 10px auto;
    border-top: 5px solid;
    padding: 4px 20px;
}

/*main*/
main {
    background-color: white;
}

.content.information {
    background-image: url(/images/icon-information.png);
}

.content.moreinfo {
    background-image: url(/images/icon-skills.png);
}

.content h2 {
    color: deeppink;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

ul {
    list-style-type: none;
}

.list li {
    color: rgba(0, 0, 0, 0.5);
    background-repeat: none;
    border-left: 3px solid rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    transition: all .4s;
}

.list li:hover {
    border-color: deeppink;
    color: deeppink;
}
